<div class="col-md-12">
  <% @posts_on_home.each do |post| %>
    <div class="row card-custom mb-4 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
          <div class="icon-like">
            <span 
              data-toggle="tooltip" 
              data-placement="top"
              title="curtiu? :)"
              class="fa fa-thumbs-o-up" aria-hidden="true"></span>
          </div>
          <h2 class="blog-post-title"><%= post.title %></h2>
          <p class="blog-post-meta"><%= "#{l(post.created_at,format:"%B %d, %Y").camelize}" %> by 
            <a href="#"><%= post.user.full_name.presence.camelize %></a>
          </p>
          <%= post.template_html %>
          <div class="row text-center icon-other">
            <div class="col-md-9 p-2 d-flex">
              <span
                data-toggle="tooltip" 
                data-placement="top"
                title="<%= "#{post.title} comentários" %>"
              >Comentários: 
                <%= link_to post_id_path(post.id, post.slug) do %>
                  <i class="fa fa-commenting-o" aria-hidden="true"></i></span>
                <% end %>
            </div>
            <div class="col-md-3 p-2 d-flex">
              <span
                data-toggle="tooltip" 
                data-placement="top"
                title="Informação útil? Compartilhe! "
              >Compartilhe: 
                <i class="fa fa-share-square-o" aria-hidden="true"></i>
              </span>
            </div>
          </div>
      </div>
    </div>
  <%end%>
</div>